In [17]:
import pandas as pd

movies = pd.read_csv('ratings.csv')
movies.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [18]:
def sort_rating(rating):
    if rating <= 2:
        return 'low'
    elif rating > 4:
        return 'high'
    return 'middle'

In [19]:
movies['class'] = movies['rating'].apply(sort_rating)
movies.head()

   userId  movieId  rating   timestamp   class
0       1       31     2.5  1260759144  middle
1       1     1029     3.0  1260759179  middle
2       1     1061     3.0  1260759182  middle
3       1     1129     2.0  1260759185     low
4       1     1172     4.0  1260759205  middle