In [1]:
import pandas as pd

ds = pd.read_csv('power.csv')
ds.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [37]:
f_data = ds[((ds.country == 'Estonia') | (ds.country == 'Latvia') | (ds.country == 'Lithuania')) & 
            ((ds.category == 4) | (ds.category == 12) | (ds.category == 21)) &
            (ds.year >= 2005) & (ds.year <= 2010) & (ds.quantity >= 0)]
f_data.head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10618    Estonia  2007       0.0         4
10619    Estonia  2006       0.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4

In [34]:
quantity_sum = f_data.quantity.sum()
quantity_sum

240580.0