In [125]:
import pandas as pd

In [126]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [127]:
# подсчет количества отзывов
users = ratings.userId.value_counts()
users = pd.DataFrame({'userId':users.index, 'reviews':users.values})
users.head()

   userId  reviews
0     547     2391
1     564     1868
2     624     1735
3      15     1700
4      73     1610

In [128]:
def lifetime(data):
    '''Возвращает время жизни в секундах'''
    return data['timestamp'].max() - data['timestamp'].min()

In [129]:
# получаем DataFrame с временем жизни 
seconds = ratings.groupby('userId').apply(lifetime)
seconds = pd.DataFrame({'userId':seconds.index, 'time':seconds.values})
seconds.head()

   userId    time
0       1      97
1       2     851
2       3   71198
3       4  203560
4       5    2101

In [130]:
# объединяем в один DataFrame
table = seconds.merge(users)
table.head()

   userId    time  reviews
0       1      97       20
1       2     851       76
2       3   71198       51
3       4  203560      204
4       5    2101      100

In [131]:
# вычисляем среднее время жизни в секундах для пользователей с количеством отзывов более 100
life_time = table[table.reviews > 100].time.mean()
life_time

40080507.4496124